# Adds vid- as a possible reference in the document
crossref:
  custom:
    - kind: float
      reference-prefix: Video
      key: vid
      
project:
  type: website
  output-dir: docs
  # resources:
  #   - quarto/**  # or should I do cp -r assets docs/assets?

website:
  bread-crumbs: false
  page-navigation: true
  sidebar:
    search: true
    collapse-level: 2   
    contents:
      - section: "QFC Tutorials"
        contents: 
          - tutorials/Quarto/Quarto.qmd
          - tutorials/GroupCalendar/GroupCalendar.qmd
          - tutorials/Quarto-RevealJS/Quarto_RevealJS.qmd
          - tutorials/RStudio_Project_Setup/01-RStudioProjectsSetup.qmd
          - tutorials/ADMB-TMB/ADMB-TMB-Install.qmd

format: 
  html:
    page-layout: full
    css: "https://qfcatmsu.github.io/assets/quarto/qfc_styles.css"
    # css: "quarto/qfc_styles.css"
    toc: true
    toc-title: "<b>Content</b>"
    toc-location: left
    fig-align: left
    theme: default
    fontsize: 15px
    number-sections: true
    grid:
      body-width: 1000px
    include-in-header:
      - text: |
          <link rel = "shortcut icon" href = "https://qfcatmsu.github.io/images/quarto/qfc_icon.png" />
          <script>mod=true;</script>
          <script src="https://qfcatmsu.github.io/assets/quarto/qfc_styles.js"></script>
          <!--script src="quarto/qfc_styles.js"></script-->
           
editor: visual