/*** Instructions:
For Positron:
Copy and paste this code to the top of the following file:

Windows:
C:\Users\<your-user_name>\.positron\extensions\quarto.quarto-1.###.#\assets\www\editor\style.css

.pm-content counter reset does not work for H3 and H4 in VSCode only
****/

/* Dark theme has three colors to change: hl, note, table caption */
/* To-do
   - test if this works in MAc and Linux
   - color changes do not seem to be working in light mode
   - delete old changes before adding new changes
*/

/* add equation number to editor */
span.MJXc-display:after
{
/*  counter-increment: eqCount;               
  content: " ( " counter(eqCount) " )";  */
}

/* pm-content starts the HTML for the editor windows in Quarto */
body
{
  counter-reset: figCount tableCount; /* eqCount; */
}

/* Add a counter to each table with a caption */
div[id^="tbl-"]>div>p.table-caption::before, div[id^="tbl-"]>p::before
{
  counter-increment: tableCount;               
  content: "Table " counter(tableCount) ": "; 
}

/* Add "Fig #" before caption that does not have a <br> -- they are empty 
   And add to divs with id starting with "fig-" that contain a paragraph */
.pm-figcaption:not(:has(br))::before,
div[id^="fig-"] > p::before
{
  counter-increment: figCount;               
  content: "Fig " counter(figCount) ": ";  
}

/* Light theme */
.vscode-light .pm-content .hl {
  display: inline !important;
  color: darkred !important;
}

/* Dark theme */
.vscode-dark .pm-content .hl 
{
  display: inline !important;
  color: hotpink !important;
}

/* override .note in Quarto (probably want to remove) */
.vscode-light .pm-content .note
{
	display: inline !important;
	color: darkorange !important;
}

.vscode-dark .pm-content .note 
{
	display: inline !important;
  color: lightsalmon !important;   /* or whatever darker-appropriate value */
}

/* Outline the sections in the editor */
.pm-content
{
  /* start all header counters (must be on one line) */
	counter-reset: h2Count; 
	margin-left: 20px;  /* so you can see the gutter area on the left side */
}
.pm-content h2
{
  counter-increment: h2Count;    
  counter-reset: h3Count h4Count;
}
.pm-content h2::before 
{    
  content: counter(h2Count) "- ";              
}
.pm-content h3
{
  counter-increment: h3Count;               
  counter-reset: h4Count;
}
.pm-content h3::before 
{
  content: counter(h2Count) "-" counter(h3Count) " ";    
}	
.pm-content h4
{
  counter-increment: h4Count; 
}
.pm-content h4::before 
{              
  content: counter(h2Count) "-" counter(h3Count) "-" counter(h4Count) " ";
}	



/* remove all vertical margins */
.pm-content p, .pm-content ul, .pm-content ol
{
	margin-block-start: 0;
	margin-block-end: 0;
	margin-bottom: 0 !important;  /* for list */
}

/* keep first-level bullet flush with left-side */
.pm-list
{
	padding-inline-start: 20px;
}

.vscode-dark .pm-figcaption, .pm-content .fig, 
span.MJXc-display:after, div[id^="fig-"] > p, 
.table-caption
{
	color: rgb(168, 198, 138);
	font-style: italic;
}

.vscode-light .pm-figcaption, .pm-content .fig, 
span.MJXc-display:after, div[id^="fig-"] > p, 
.table-caption
{
	color: rgb(90,90,0);
	font-style: italic;
}

@media (prefers-color-scheme: dark) {
  .table-caption {
	  color: rgb(168, 198, 138);
  }
}

/* Editing window will max at 1000px wide -- it was 700px */
.pm-editing-root-node 
{
  padding-left: calc((100% - 1000px)/2) !important;
  padding-right: calc((100% - 1000px)/2) !important;
}